nav {
  width: 300px;
  display: block;
  position: fixed;
  top: 57px;
  left: 20px;
  overflow: hidden;
  opacity: .2;
  transition: all .8s ease-out;
  margin-top: 20px;
  transition: all .1s ease-out;
  color: rgba(0, 0, 0, .8);
}
nav:hover {
  opacity: 1;
}
nav h2 {
font-size: 17px;
font-weight: bold;
}

nav a {
  text-decoration: none;
}
nav li {
  margin: 8px 0;
  font-size: 17px;
  line-height: 20px;
}

nav ol {
  text-transform: uppercase;
}

nav ul > ul {
  color: rgba(0,0,0,0.8);
  margin-left: 10px;
}
nav ul > ul > ul {
  color: rgba(0,0,0,0.6);
  margin-left: 15px;
}
